/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*FONT*/


*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
    font-family:'Open Sans', sans-serif; 
    
}
/*MAIN PAGE1*/
main{
    background:#d2dae2;
    padding-top: 3em;   
}
.wrapper{
    display: grid;
    grid-template-rows: repeat(2, 100%);
    grid-template-columns: repeat(2, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
    padding-bottom: 4em;
    
}
#title1, #title2{
    text-align: center;
   
}

#title1 a{
    text-decoration: none;
    color: black;
}
#title2 a{
    text-decoration: none;
    color: black;
}
#title1{
    grid-row: 1;
    
}
#title2{
    grid-row: 1;
    grid-column: 2;
}
.sections{
    width:100%;
    display: grid;
    grid-row: 2;
    grid-template-columns: repeat(3, auto);
    margin: 20px 0;
    position: relative;
    padding-top: 1em;
    text-align: center;
}
.item{
    padding:0 3%;
    transition-duration: 250ms all;
    margin:0 2%;
}
.item:hover{
    transform:scale(1.2)
}

/*LIEN SECTION*/
section a{
    text-decoration: none;
    text-align: center;
    position: absolute;
    width: 3em;
    height: 100%;
    color:white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.arrow1{
    left: 0;
    top:0;  
  
}
.arrow2{
    right: 0;
    top:0;
  

}

.arrow1:before{
    content: "<";
    font-family: "fontello";
    font-weight: bold;
    font-size: 2em;
}

.arrow2:before{
    content:">";
    font-family: "fontello";
    font-weight: bold;
    font-size: 2em;
    
}

#section1 p
{
    text-align: center;
}
#section1
{
    align-items: center;
}

/*LIEN SECTION END */

.descriptive_section{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.descriptive_section section{
    width: 40%;
    height: 50%;
    margin:1em;
    background: linear-gradient(90deg, rgba(128,142,155,1) 0%, rgba(84,101,227,1) 50%, rgba(128,142,155,1) 100%);
}
.descriptive_section img{
    width:100%;
    height: 30%;
}
/*MAIN END*/

/*HEADER*/
header{
    background: linear-gradient(90deg, rgba(128,142,155,1) 0%, rgba(84,101,227,1) 50%, rgba(128,142,155,1) 100%);
    padding-top:2em;
    padding-bottom: 1em;
    width:100%;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: center;


}
nav a{
    text-decoration: none;
    padding:1em;
    color:white;
    font-weight: bold;
    font-size: 1em;
}
nav a:hover{
    background:#ff3f34 ;
}
.heading{
    display: grid;
    grid-template-columns: 2fr 3fr;
    text-align: start;   
    padding-bottom: 1em; 
}
header h1{
    color: white;
    padding-top: 1.5em;
    padding-left: 2%;

}
header img{
    padding-left: 1em;
    padding-top: 1.5em;
    
}

/*HEADER END*/



/*FOOTER*/
.photo .category .socialmedia{
    width: 30%;
}
.picture{
    width: 10vw;
    height: 20vh;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:2em 0;
    background: linear-gradient(90deg, rgba(128,142,155,1) 0%, rgba(84,101,227,1) 50%, rgba(128,142,155,1) 100%);
    width:100%;
}
.category{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.category a{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 8%;
    border-radius: 50%;;    
}
.category a:hover{
    background: #ff3f34;
}

.socialmedia{
    display: flex;
}
.icon{
    padding-left: 1em;
    height: 32px;
}


/*categorieX*/
.catx .titre
{
    text-align: center;
    color: purple
}
.catx h2
{
    text-align: center;
    color: #AD00B0
}
.catx p
{
    border: 3px solid #A800A0;
    border-radius: 4px;
    margin: 6%
}

#bleu p
{
    background-color: #00FFFF;
}

#bleu2 p
{
    background-color: #00FFFF;
}

#bleu3 p
{
    background-color: #00FFFF;
}

#violet p
{
    background-color: #B018C8
}

#violet2 p
{
    background-color: #B018C8
}

#violet3 p
{
    background-color: #B018C8
}

.article1{
    display: flex;
    flex-flow:row wrap ;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #33C0D4;
}
.T{
    width: 500px;
    padding-bottom: 1em;

}
.block-video{
    max-width: 100%;
    margin: auto;
    padding: 20px;

}
.content-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

}
.content-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.catx video{
    height: 100%;
}

.article2
{
    display: flex;
    flex-flow:row wrap ;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #FF00FF;
}

/*Categorie1*/

#cat1{
    display: flex;
    flex-direction: column;
    
}
#cat1 h2{
    text-align: center;
}

#cat1 p{
    font-weight: 600;
}
.videocontainer1{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin:2% 2%;
    background:#05c46b;
    box-shadow: 5px -2px 9px 3px #000000;
}

.videocontainer2{
    display: flex;
    flex-direction:row-reverse;
    background: #00d8d6;
    text-align: center;
    margin:2% 2%;
    box-shadow: -5px -3px 9px 4px #000000;
}

.wrap{
    padding: 3em 1em;
    margin: 0;
   
}
   
.description{
    margin: 0 1em;
    
    
}
figcaption{
    padding-bottom: 2%;
    margin: 0;
    font-weight: bold;
    font-style: italic;
}

/*RESPONSIVE*/
@media screen and (max-width:480px){
    .wrapper{
        display: grid;
        grid-template-rows: 2;
        grid-template-columns: repeat(2, 100%);
        overflow: hidden;
        scroll-behavior: smooth;
    
    }
    .sections{
        width: 100%;
        display: grid;
        grid-row: 2;
        grid-template-rows: repeat(3 auto);
        position: relative;
        
    }

    #video1{
        grid-row: 1;
        grid-column: 1;
        padding-bottom: 3%;

    }
    #video2{
        grid-row: 2;
        grid-column: 1;
        padding-bottom: 3%;
    }
    #video3{
        grid-row: 3;
        grid-column: 1;
        padding-bottom: 3%;

    }

    #video4{
        grid-column: 2;
        grid-row: 1;
        padding-bottom: 3%;
    }
    #video5{
        grid-column: 2;
        grid-row: 2;
        padding-bottom: 3%;
    }
    #video6{
        grid-column: 2;
        grid-row: 3;
        padding-bottom: 3%;
    }
}


