/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*FONT*/


*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
    font-family:'Open Sans', sans-serif; 
    
}
/*MAIN PAGE1*/
main{
    background:#808e9b;
    padding-top: 3em;
    
   
}
.wrapper{
    display: grid;
    grid-template-rows: repeat(2 100%);
    grid-template-columns: repeat(2, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
    padding-bottom: 4em;
    
}
#title1, #title2{
    text-align: center;
    color: white;
}
#title1{
    grid-row: 1;
    
}
#title2{
    grid-row: 1;
    grid-column: 2;
}
.sections{
    width:100%;
    display: grid;
    grid-row: 2;
    grid-template-columns: repeat(3, auto);
    margin: 20px 0;
    position: relative;
    padding-top: 1em
}
.item{
    padding;:0 3%;
    transition-duration: 250ms all;
    margin:0 2%;
}
.item:hover{
    transform:scale(1.2)
}
video{
    height: 100%;
}
/*LIEN SECTION*/
section a{
    text-decoration: none;
    text-align: center;
    position: absolute;
    width: 3em;
    
    height: 100%;
    color:white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.arrow1{
    left: 0;
    top:0;  
  
}
.arrow2{
    right: 0;
    top:0;
  

}

.arrow1:before{
    content: "<";
    font-family: "fontello";
    font-weight: bold;
    font-size: 2em;
}

.arrow2:before{
    content:">";
    font-family: "fontello";
    font-weight: bold;
    font-size: 2em;
    
}

#section1 p
{
    text-align: center;
}

/*LIEN SECTION END */

/*MAIN END*/

/*HEADER*/
header{
    background:#1e272e;
    padding-top:2em;
    padding-bottom: 1em;
    width:100%;
}
header nav{
    display: flex;
    flex-direction: row;
    justify-content: center;


}
nav a{
    text-decoration: none;
    padding:1em;
    color:white;
    font-weight: bold;
    font-size: 1em;
}
nav a:hover{
    background:#ff3f34 ;
}
.heading{
    display: grid;
    grid-template-columns: 2fr 3fr;
    text-align: start;   
    padding-bottom: 1em; 
}
header h1{
    color: white;
    padding-top: 1.5em;
    padding-left: 2%;

}
header img{
    padding-left: 1em;
    padding-top: 1.5em;
    
}

/*HEADER END*/



/*FOOTER*/
.photo .category .socialmedia{
    width: 30%;
}
.picture{
    width: 10vw;
    height: 20vh;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:2em 0;
    background:#1e272e;
    width:100%;
}
.category{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.category a{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 8%;
    border-radius: 50%;;    
}
.category a:hover{
    background: #ff3f34;
}

.socialmedia{
    display: flex;
}
.icon{
    padding-left: 8%;
    height: 32px;
}


/*categorieX*/
.catx .titre
{
    text-align: center;
    color: purple
}
.catx h2
{
    text-align: center;
    color: #AB04C1
}
.catx p
{
    border: 3px solid #A800A0;
    border-radius: 4px;
}

#bleu p
{
    background-color: #33D8D1;
}

#violet p
{
    background-color: #B018C8
}

.article1{
    display: flex;
    flex-flow:row wrap ;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #07B5CD;
}
.T{
    width: 500px;
}
.block-video{
    max-width: 100%;
    margin: auto;
    padding: 20px;

}
.content-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

}
.content-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.catx video{
    height: 100%;
}

.article2
{
    display: flex;
    flex-flow:row wrap ;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #FF25F5
}

.T{
    width: 500px;

}
.block-video{
    max-width: 100%;
    margin: auto;
    padding: 20px;
}
.content-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.content-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.catx video{
    height: 100%;
}
/*Categorie1*/
#cat1{
    display: flex;
    flex-direction: column;
    
}
#cat1 h2{
    text-align: center;
}
#cat1 video{
    min-width: 100%;
    min-height: 100%;u
}
.videocontainer1{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin:2% 2%;
    background:#05c46b;
    box-shadow: 5px -2px 9px 3px #000000;


}
.videocontainer2{
    display: flex;
    flex-direction:row-reverse;
    background: #00d8d6;
    text-align: center;
    margin:2% 2%;
    
}

 .wrap{
    padding-left: 1em;
    padding-bottom: 3em;
    padding-right: 1em;
   
}
   
.description{
    margin-left: 1em;
    
    
}
.subtitle p{
    padding-bottom: 2%;
    margin: 0;
}
